{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
{% load blog_extras cache %}

{% if post.author.profile %}
    {% row %}
        {% col %}
            <h4>About the author</h4>
            <p>{{ post.author.profile.bio }}</p>
        {% endcol %}
    {% endrow %}
    {% if post.hero_image %}
        {% row %}
            {% col %}
                <img class="img-fluid" src="{{ post.hero_image.url }}">
            {% endcol %}
        {% endrow %}
    {% endif %}
{% endif %}

{% include "blog/post-comments.html" %}

<!-- existing code here -->
{% row %}
    {% col %}
        {% cache 3600 recent_posts post %}
            {% recent_posts post %}
        {% endcache %}
    {% endcol %}
{% endrow %}

{% endblock %}